:root{
    --Pink: hsl(322, 100%, 66%);
    --Pale-Cyan: hsl(193, 100%, 96%);
    --Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish Blue: hsl(208, 11%, 55%);
}

header{
    padding: 50px;
    background-image: url(./images/bg-hero-desktop.svg);
}

.container-nav{
    max-width: 100%;
    padding: auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 1px 1px 3px var(--Dark-Cyan);
    padding: 6px 40px 6px 40px;
}

.text-container{
    max-width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.text-header{
    max-width: 550px;
}

h1{
    font-weight: bold;
}

#btn-header{
    background-color:var(--Pink);
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 3px var(--Dark-Cyan);
    padding: 6px 40px 6px 40px;
    color: white;
    
}

.image-header{
    max-width: 600px;

}

.imagen-web{
    max-width: 100%;
    margin: auto;
}